.App {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 10px;
}

.App > div {
  margin-right: 50px;
}
.is-done {
  opacity: 0.5;
}
.active {
  background-color: cadetblue;
}
.error {
  background-color: lightpink ;
  border: 2px solid red;
  outline: transparent;
}
.ul {
  list-style-type: circle;
}
